name: Scheduled Headless Browser Visit

on:
  schedule:
    - cron: '0 0 * * *'    # 每天 00:00 UTC
    - cron: '0 8 * * *'    # 每天 08:00 UTC
    - cron: '0 16 * * *'   # 每天 16:00 UTC
  workflow_dispatch:       # 支持手动触发

jobs:
  visit-and-click:
    runs-on: ubuntu-latest
    env:
      TARGET_URLS: ${{ secrets.TARGET_URLS }}
      COOKIE_MAP: ${{ secrets.COOKIE_MAP }}
      USER_AGENT: ${{ secrets.USER_AGENT }}
      IMGE_API_KEY: ${{ secrets.IMGE_API_KEY }}
      IMGE_ALBUM_ID: ${{ secrets.IMGE_ALBUM_ID }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Restore Cookie Cache
        uses: actions/cache@v4
        with:
          path: cookies.json
          key: cookie-${{ github.run_id }}
          restore-keys: |
            cookie-

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Run Puppeteer script
        run: node visit.js

      - name: Save Cookie Cache
        uses: actions/cache@v4
        with:
          path: cookies.json
          key: cookie-${{ github.run_id }}
      # - name: Upload package-lock.json
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: package-lock
      #     path: package-lock.json
